<nav class="site-header sticky-top py-1 header">
    <div class="container d-flex flex-column flex-md-row justify-content-between header-links">
      <a class="py-2" routerLink="/home">
        <!-- <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto"><circle cx="12" cy="12" r="10"></circle><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line></svg> -->
        <img src="../../../assets/images/timesaver-icon.png" alt="time-saver" width="24" height="24">
      </a>
      <a class="py-2 d-none d-md-inline-block" href="#">?Porque Timesaver¿</a>
      <a class="py-2 d-none d-md-inline-block" routerLink="/user">Login</a>
      <a class="py-2 d-none d-md-inline-block" href="#">Sign Up</a>
    </div>
  </nav>