<form [formGroup]="appointmentForm" (ngSubmit)="onCreateAppointment()">
  <div class="form-group row">
    <label for="example-date-input" class="col-2 col-form-label blue">Elige Fecha:</label>
    <div class="col-10">
      <input 
        class="form-control" 
        type="date" 
        value="2011-08-19" 
        id="example-date-input"
        formControlName="date">
    </div>
  </div>
  <div class="form-group row">
    <label for="example-time-input" class="col-2 col-form-label blue">Elige Hora:</label>
    <div class="col-10">
      <input 
        class="form-control" 
        type="time" 
        value="13:45:00" 
        id="example-time-input"
        formControlName="time">
    </div>
  </div>
  <div class="form-group row">
    <label for="location" class="col-2 col-form-label blue">Elige Lugar:</label>
    <div class="col-10">
      <select class="form-control" formControlName="place">
        <option>Madrid1</option>
        <option>Madrid2</option>
        <option>Madrid3</option>
        <option>Madrid4</option>
        <option>Madrid5</option>
        <option>Madrid6</option>
        <option>Madrid7</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-6">
      <button type="submit" 
        class="btn btn-outline-info">Guardar</button>
    </div>
    <div class="col-6">
      <button type="button" 
        class="btn btn-outline-dark float-right"
        (click)="onCancel()">Cancelar</button>
    </div>
  </div>
</form>

